<div class="text-center block-center">
  <h1>welcome to <i class="fa-solid fa-book"></i><b>Bookers</b> !!</h1>
  <p>
    In <i class="fa-solid fa-book"></i><b>Bookers</b>,<br>
    you can share and exchange your opinions , inpressions , and emotions<br>
    about various books!
  </p>
</div>
<div class="d-flex justify-content-center">
  <div class="col-6">
    <a class="btn btn-primary btn-block" href="/users/sign_in">Log in</a>
    <a class="btn btn-success btn-block" href="/users/sign_up">Sign up</a>
  </div>
</div>